################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DelauneyTriangulationDivConq/out/build
/DelauneyTriangulationDivConq/.vs
/DelauneyTriangulationDivConq/CMakePresets.json
